.wp-paginate .current{    
	z-index: 1;
    color: #fff;
    background-color: #6bb244;
        position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    margin-right:0;
    border: 1px solid #dee2e6;
    border-color: #6bb244;}
    
.wp-paginate{
	    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
        margin-bottom: 1rem;
}    

.wp-paginate a{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #6bb244;
    margin-right:0;
    background-color: #fff;
    border: 1px solid #dee2e6;
}